/* Sidebar Styles */
.sidebar {
    width: 15%;
    background-color: #f3e5f5;
    padding: 20px;
    border-radius: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px 15px;
    margin: 10px 0;
    background-color: #e1bee7;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar ul li:hover {
    background-color: #d1c4e9;
}

.sidebar ul li.active {
    background-color: #ba68c8;
    color: #fff;
}

/* Main Content Styles */
.dashboard-container {
    display: flex;
    justify-content: space-between;

    padding: 20px;
    width: 85%;
}

.chart-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.chart-container.line-chart {
    width: 60%;
    margin-right: 10px;
}

.chart-container.pie-chart {
    width: 35%;
}

.main {
    display: "flex";
    height: "100vh";
}

nav {
    background-color: #ba68c8;
    border-radius: 10px;
}
h2 {
    color: #ba68c8;
    background-color: #fff;
    border-radius: 10px;
}
